body {
    background-color: #151515;
    color: whitesmoke;
}

#section1 {
    background: linear-gradient(#f5f5f5,#cacaca);
    color: #151515;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    scroll-snap-align: start;
}

#section1-header {
    grid-area: 2 / 2 / 2 / 2;
    font-size: 3rem;
}

.s1-warn-symbol {
    grid-area: 2 / 2 / 2 / 2;
    position: relative;
    filter: blur(0.35rem);
}

#oopsies {
    grid-area: 1 / 1 / 3 / 3;
    position: relative;
    top: 0;
    left: 50vw;
    width: 25vw;
    z-index: 2;
    rotate: 15deg;
    /*filter: blur(0.1rem);*/
}

#section2 {
    background: linear-gradient(#cacaca 15%,black,#151515);
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    scroll-snap-align: start;
}

#section2-bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(black,#151515);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,1) 15%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,1) 15%);
    position: relative;
    pointer-events: none;
    z-index: 3;
}

#section2-header {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(white, lightgrey);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section2-p {
    grid-area: 3 / 2 / 3 / 3;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(white, lightgrey);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bin {
    width: 20vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#section3 {
    background: linear-gradient(#151515, black);
    display: grid;
    grid-template-columns: 0.1fr 0fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    scroll-snap-align: start;
}

#section3-header {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section3-p {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    top: 15vh;
    position: relative;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section4 {
    background: linear-gradient(black, #151515);
    display: grid;
    grid-template-columns: 0.1fr 0fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    scroll-snap-align: start;
}

#section4-header {
    grid-area: 2 / 3 / 2 / 3;
    
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section4-p {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    top: 15vh;
    position: relative;
    
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section5 {
    background: linear-gradient(#151515, black);
    display: grid;
    grid-template-columns: 0.1fr 0fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    scroll-snap-align: start;
}

#section5-header {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section5-p {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    top: 15vh;
    position: relative;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section6 {
    background: linear-gradient(black, #151515);
    display: grid;
    grid-template-columns: 0.1fr 0fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    scroll-snap-align: start;
}

#section6-header {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section6-p {
    grid-area: 2 / 3 / 2 / 3;
    font-size: 3vw;
    z-index: 3;
    top: 15vh;
    position: relative;
    background: radial-gradient(#cacaca,#f5f5f5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#section7 {
    background: linear-gradient(#151515, black);
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr;
    text-align: center;
    scroll-snap-align: start;
}

#section7-header {
    grid-area: 2 / 2 / 2 / 2;
    font-size: 3vw;
    z-index: 3;
    background: radial-gradient(white, lightgrey);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section7-p {
    font-size: 3vw;
    z-index: 3;
    grid-area: 2 / 2 / 2 / 2;
    position: relative;
    text-decoration: underline dodgerblue;
    width: fit-content;
    height: fit-content;
}